{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("brikdigital\\entrynavigation\\assetbundles\\EntryNavigationAsset") %}

{% set options = ['Select a menu']|merge(navs|map(n => "#{n.name}")) %}

<div class="data entry-nav-container">
    {% if crumbs|length > 0 %}
        {# FIXME(lexisother): for the love of god, actual css #}
        {# FIXME(lexisother): maybe care about mobile styling too? #}
        <div class="value" style="flex-direction: column; align-items:flex-start; margin-bottom: .5rem; width: 100%;">
            {% for nav in navs %}
                {% set navCrumbs = crumbs[nav.name] ?? null %}
                {% for crumbList in navCrumbs %}
                    {# NOTE(lexisother): at some point I think it's really important to restructure the dataset that
                        gets sent to the template so we have everything we could possibly need on demand.
                        these maps are ugly and they really need to go #}
                    {% set nodeId = crumbList|map(n => n.id)|last %}
                    <div data-id="{{ nodeId }}" style="width: 100%; margin-bottom: 1rem">
                        <p class="h6" style="padding-left: 16px; margin-block: 0 var(--s) !important;">Menu: {{ nav.name }}</p>
                        <div style="background-color: var(--gray-050); border-radius: var(--large-border-radius); box-shadow: 0 0 0 1px #cdd8e4, 0 2px 12px rgba(205, 216, 228, .5); margin-block-end: 0 !important; padding: var(--m);">
                            <p style="display: flex; align-items: center; gap: .5rem;">{{ crumbList|map(n => n.title)|join('<span class="chevron"></span>')|raw }}</p>
                            <div style="display: flex; flex-direction: column; gap: .5rem;">
                                <div>
                                    <span style="padding: 0 6px; width: fit-content; font-size: small;">Title</span>
                                    <input type="text" id="nodeTitle" class="text" name="nodeTitle" value="{{ (crumbList|last).title }}" autocomplete="off" form="" />
                                </div>
                                <div>
                                    <span style="padding: 0 6px; width: fit-content; font-size: small;">Parent</span>
                                    <div class="select">
                                        <select id="parent" name="parent" form="">
                                            {% for item in optionsByNav[nav.id] %}
                                                {% if item.value is not same as nodeId %}
                                                    {% set parent = (crumbList|last).parent %}
                                                    <option
                                                            value="{{ item.value }}"
                                                            {% if item.label is same as parent %}selected{% endif %}
                                                    >{{ item.label }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-between">
                                    <div style="display: flex; gap: .5rem">
                                        <button form id="saveButton" class="btn submit">Save</button>
                                        <button form id="deleteButton" class="btn submit">Delete</button>
                                    </div>
                                    <div>
                                        <a href="{{ url('navigation/navs/build/' ~ nav.id) }}" style="color: unset">
                                            <button form class="btn">Edit menu</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="value">
        <div class="select">
            <select id="navSelect" data-action="{{ fetchNavItemsUrl }}" form="">
                {% for nav in ['Select a menu']|merge(navs) %}
                    <option value="{{ loop.index }}" data-id="{{ nav.id ?? 0 }}">{{ nav }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="submenu" style="display: none"></div>
</div>